<p>
  Lista de Personal!
</p>

<!--<ul>  
<li *ngFor="let car of carsList">
  {{car.color}}
</li>

</ul>-->

<p-dataTable [value]="carsList">
  <p-header>
    Lista
      <div class="ui-helper-clearfix">
       
          <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add" 
           style="float:right"></button>
      </div>

  </p-header>
  <p-column field="FICHA" header="FICHA"></p-column>
 <p-column field="CENCO2_CODI" header="CENCO2_CODI"></p-column>
 <p-column field="CARGO_DESC" header="CARGO_DESC"></p-column>
 <p-column field="VARIABLE_MONTO" header="VARIABLE_MONTO"></p-column>
 
 <p-column styleClass="col-button">
   <ng-template let-car="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-edit" (click)="selectedCar(car)"></button>
   </ng-template>
 </p-column>

 <p-column styleClass="col-button">
    <ng-template let-car="rowData" pTemplate="body">
       <button type="button" pButton icon="fa fa-trash" class="ui-button-danger"></button>
    </ng-template>
  </p-column>

</p-dataTable>

<p-dialog header="Cars Detail" [(visible)]="display" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

        <form>
          <div class="form-group">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="car-brand" type="text" size="30" pInputText [(ngModel)]="carOne.CENCO2_CODI" name="brand"> 
                    <label for="car-brand">Car Brand</label>
                </span>

            </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>





