

<!-- <p>
  Lista de Personal!
  {{idPlantilla}}
</p>

<ul>
  <li *ngFor="let car of diasTrabajados">
    {{car.NOMBRE}}
  </li>
  
  </ul>
-->

<div *ngIf="  idPlantilla=='1' ; then thenBlock else elseBlock"></div>

<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
<ng-template #thenBlock>

    <h3 class="first">Seleccione zona a mostrar</h3>
    <p-dropdown [options]="zonas" [(ngModel)]="optionSelectedZona" placeholder="Seleccione una zona" optionLabel="name" [showClear]="true"></p-dropdown>
    <p>Zona seleccionada: {{optionSelectedZona? optionSelectedZona.name : 'ninguna'}}</p>

<p-dataTable [value]="getFiltered(optionSelectedZona? optionSelectedZona.name : undefined)">
  <p-header>
    Lista
      <div class="ui-helper-clearfix">
       
          <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add" 
           style="float:right"></button>
      </div>

  </p-header>
  <p-column field="NOMBRE" header="NOMBRE"></p-column>
 <p-column field="RUT" header="RUT"></p-column>
 <p-column field="TIPO" header="TIPO"></p-column>
 <p-column field="CANTIDAD_HRS" header="CANT_HRS"></p-column>
 <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
 <p-column field="DESCUENTO" header="DESCUENTOS"></p-column>
 <p-column field="OTROS_DESCUENTOS" header="OTROS DESCUENTOS"></p-column>
 
 <p-column styleClass="col-button">
   <ng-template let-diaTrab="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-edit" (click)="selectedDiasTrabajados(diaTrab)"></button>
   </ng-template>
 </p-column>

 <p-column styleClass="col-button">
    <ng-template let-diaTrab="rowData" pTemplate="body">
       <button type="button" pButton icon="fa fa-trash" class="ui-button-danger"></button>
    </ng-template>
  </p-column>

</p-dataTable>

<p-dialog header="Personal Detail" [(visible)]="display" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

        <form>
          <div class="form-group">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="car-brand" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOne.NOMBRE" name="brand"> 
                    <label for="car-brand">Car Brand</label>
                </span>

            </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

</ng-template>


<ng-template #elseBlock>

    <p-dataTable [value]="diasTrabajadosNoExiste">
        <p-header>
          Lista
            <div class="ui-helper-clearfix">
             
                <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add" 
                 style="float:right"></button>
            </div>
      
        </p-header>
        <p-column field="NOMBRE" header="NOMBRE"></p-column>
       <p-column field="RUT" header="RUT"></p-column>
       <p-column field="TIPO" header="TIPO"></p-column>
       <p-column field="CANTIDAD_HRS" header="CANT_HRS"></p-column>
       <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
       <p-column field="DESCUENTO" header="DESCUENTOS"></p-column>
       <p-column field="OTROS_DESCUENTOS" header="OTROS DESCUENTOS"></p-column>
       
     
      
      </p-dataTable>
      



 </ng-template>