

<!-- <p>
  Lista de Personal!
  {{idPlantilla}}
</p>

<ul>
  <li *ngFor="let car of diasTrabajados">
    {{car.NOMBRE}}
  </li>
  
  </ul>
-->
<p-growl [(value)]="msgs"></p-growl>



<button type="button" pButton icon="fa fa-plus" iconPos="left" label="Nuevo Proceso" (click)="displayNewProcess=true"></button>
<h1> Asignación de Pago Quincenas </h1>
<h3>{{optionRequestedMes? optionRequestedMes.name : ''}} - {{optionRequestedProceso? optionRequestedProceso.name : ''}}</h3>



<p-dialog header="Nuevo Proceso" [(visible)]="displayNewProcess" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="250" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

      
         
            <p-dropdown [options]="optionMeses" [(ngModel)]="optionSelectedMes" placeholder="Seleccione el Mes" optionLabel="name" [showClear]="true"></p-dropdown>
            <p-dropdown [options]="optionProcesos" [(ngModel)]="optionSelectedProceso" placeholder="Seleccione el Proceso" optionLabel="name" [showClear]="true"></p-dropdown>
            <div *ngIf="  optionSelectedMes&&optionSelectedProceso"> 
            <p-fileUpload mode="basic" name="demo[]" chooseLabel="Seleccione Archivo" (onUpload)="evento($event)"  (onError)="evento($event)" ></p-fileUpload>
          </div>
            <p-footer>
                <div *ngIf="loadigProcess"> 
                    <p-progressBar mode="indeterminate"></p-progressBar>
                </div>
            <button type="button" pButton icon="pi pi-check" (click)="newProcess()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayNewProcess=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>



<p-tabMenu [model]="items"></p-tabMenu>



<!--<div *ngIf="  idPlantilla=='1' ; then thenBlock else elseBlock"></div> -->
<div *ngIf="  idPlantilla=='1'  ; then thenBlock"> </div>
<div *ngIf="  idPlantilla=='2'  ; then elseBlock"> </div>
<div *ngIf="  idPlantilla=='3'  ; then nuevosBlock"> </div>
<p-button label="Elimina Lista" (onClick)="eliminaDiasTrab($event)"></p-button>


<button type="button" pButton  (click)="displayParametros=true" label="Parametros"></button>
<button class="btn btn-primary" (click)="getCSV()"><i class="fa fa-file"></i> Descargar</button>
<ng-template #thenBlock>

<!--<h3 class="first">Seleccione zona a mostrar</h3>
    <p-dropdown [options]="zonas" [(ngModel)]="optionSelectedZona" placeholder="Seleccione una zona" optionLabel="name" [showClear]="true"></p-dropdown>
    <p>Zona seleccionada: {{optionSelectedZona? optionSelectedZona.name : 'ninguna'}}</p> -->

    <p-multiSelect [options]="cargos" [(ngModel)]="optionSelectedMultiCargo" [panelStyle]="{minWidth:'12em'}" optionLabel="name" filterPlaceHolder="Buscar cargos" defaultLabel="Seleccione cargos" selectedItemsLabel="{0} items seleccionados" maxSelectedLabels="1"></p-multiSelect>
    <p-multiSelect [options]="zonas" [(ngModel)]="optionSelectedMultiZona" [panelStyle]="{minWidth:'12em'}" optionLabel="name" filterPlaceHolder="Buscar zonas" defaultLabel="Seleccione zonas" selectedItemsLabel="{0} items seleccionados"  maxSelectedLabels="1"></p-multiSelect>
    <p-multiSelect [options]="personas" [(ngModel)]="optionSelectedMultiPersona" [panelStyle]="{minWidth:'12em'}" optionLabel="name" filterPlaceHolder="Buscar personas" defaultLabel="Seleccione personas" selectedItemsLabel="{0} items seleccionados"  maxSelectedLabels="1"></p-multiSelect>
    <!--<p>Selected Cars: {{optionSelectedMultiZona}}</p> -->

<!--<p-dataTable [value]="getFiltered(optionSelectedZona? optionSelectedZona.name : undefined)" [immutable]=false> -->
  <p-dataTable [value]="getFilteredMultiple()" [immutable]=false> 

  <p-header>
     Personal a Pagar
     <p>
      Total Nómina: 
      {{totalNomina}}    
      Total Actual: 
      {{totalActual}} 
    </p>

  </p-header>
  <p-column field="NOMBRE" header="NOMBRE"></p-column>
 <p-column field="RUT" header="RUT"></p-column>
 <p-column field="CARGO_DESC" header="CARGO"></p-column>
 <p-column field="CANT_TURNOS" header="CANT TURNOS"></p-column>
 <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
 <p-column field="DESCUENTO" header="DESCUENTOS"></p-column>
 <p-column field="OTROS_DESCUENTOS" header="OTROS DESCUENTOS"></p-column>
 
 <p-column styleClass="col-button">
   <ng-template let-diaTrab="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-edit" (click)="editDiasTrabajados(diaTrab)"></button>
   </ng-template>
 </p-column>

 <p-column styleClass="col-button">
    <ng-template let-diaTrab="rowData" pTemplate="body">
       <button type="button" pButton icon="fa fa-eye" class="ui-button-danger" (click)="selectedDetalleTurnos(diaTrab)"></button>
    </ng-template>
  </p-column>


</p-dataTable>

<p-dialog header="Edita Pago" [(visible)]="display" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <p>{{diasTrabajadosOneSelected.NOMBRE}} </p>
      
        <form>
          <div class="form-group">

            <div class="ui-inputgroup">

                     
                <span class="ui-float-label">
               
               
                  <input id="rut" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.RUT" name="rut" disabled="true"> 
                    <label for="rut">RUT</label>
               
                  </span>
                </div>
                <div class="ui-inputgroup">
                  <span class="ui-float-label">
               
               
                      <input id="monto" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.OTROS_DESCUENTOS" name="monto"> 
                        <label for="monto">OTROS DESCUENTOS</label>
                   
                      </span>
                    </div>

                                              
                    <div class="ui-inputgroup">

                        <span class="ui-float-label">
                         <!--   <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button> -->
                            <p-messages [(value)]="msgs"></p-messages>
                       
                          </span>
        
                    </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="saveDiasTrabajados()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

<p-dialog header="Detalle de Turnos" [(visible)]="displayDetalleTurnos" [modal]="modal" [responsive]="true" [width]="550" [minWidth]="200" [minY]="200" 
        [maximizable]="true" [baseZIndex]="10000">
        <app-dias-trabajados-datalle [diaTrabajado]="diasTrabajadosOneDetalle"></app-dias-trabajados-datalle>
        <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="displayDetalleTurnos=false" label="Ok"></button>
      </p-footer>
      </p-dialog>



</ng-template>
<!--<div  *ngIf="diasTrabajadosOne.NOMBRE">
  <app-dias-trabajados-datalle [diaTrabajado]="diasTrabajadosOne"></app-dias-trabajados-datalle>

</div> -->

<ng-template #elseBlock>

    <p-dataTable [value]="diasTrabajadosNoExiste" >
        <p-header>
          Personal No Existente o No Vigente

      
        </p-header>
        <p-column field="NOMBRE" header="NOMBRE"></p-column>
       <p-column field="RUT" header="RUT"></p-column>
       <p-column field="CARGO_DESC" header="TIPO"></p-column>
       <p-column field="CANT_TURNOS" header="CANT TURNOS"></p-column>
       
     
      
      </p-dataTable>
      



 </ng-template>

 <ng-template #nuevosBlock>
    <p-dataTable [value]="diasTrabajadosOtros" [immutable]=false>
        <p-header>
          Personal Pagos Pendientes
            <div class="ui-helper-clearfix">
             
                <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Nuevo"  (click)="creaDiasTrabajados()"
                 style="float:right"></button>
            </div>
      
        </p-header>
        <p-column field="NOMBRE" header="NOMBRE"></p-column>
       <p-column field="RUT" header="RUT"></p-column>
       <p-column field="TIPO" header="TIPO"></p-column>
       <p-column field="CENCO2_DESC" header="INSTALACION"></p-column>
       <p-column field="SUELDO_MONTO" header="MONTO"  [ngClass]="tiene-pago"></p-column>
       <p-column field="DESCUENTO" header="DESCUENTOS"></p-column> 
      
       <p-column styleClass="col-button">
          <ng-template let-diaTrab="rowData" pTemplate="body">
             <button type="button" pButton icon="fa fa-edit" (click)="editDiasTrabajadosOtros(diaTrab)"></button>
          </ng-template>
        </p-column>

       <p-column styleClass="col-button">
          <ng-template let-diaTrab="rowData" pTemplate="body">
             <button type="button" pButton icon="fa fa-trash" class="ui-button-danger"  (click)="deleteDiasTrabajadosOtros(diaTrab)"></button>
          </ng-template>
        </p-column>
       
    
      
      </p-dataTable>
      
 
      <p-dialog header="Añade Otros Pagos" [(visible)]="displayFormCreate" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
              [maximizable]="true" [baseZIndex]="10000">
      
              <form>
                <div class="form-group">
                    <div class="ui-inputgroup">

                     
                        <span class="ui-float-label">
                       
                       
                          <input id="rut" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.RUT" name="rut"> 
                            <label for="rut">Rut</label>
                       
                          </span>
                        </div>
                        <div class="ui-inputgroup">
                          <span class="ui-float-label">
                       
                       
                              <input id="monto" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.SUELDO_MONTO" name="monto"> 
                                <label for="monto">Monto</label>
                           
                              </span>
                            </div>

                            <div class="ui-inputgroup">
                                <span class="ui-float-label">
                             
                             
                                    <input id="descuento" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.DESCUENTO" name="descuento"> 
                                      <label for="descuento">Descuentos</label>
                                 
                                    </span>
                                  </div>
                    
                    <div class="ui-inputgroup">

                        <span class="ui-float-label">
                         <!--   <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button> -->
                            <p-messages [(value)]="msgs"></p-messages>
                       
                          </span>
        
                    </div>
      
                </div>
              </form>
              <p-footer>
                  <button type="button" pButton icon="pi pi-check" (click)="creaPersonalOtros(diasTrabajadosOtrosOne)" label="Yes"></button>
                  <button type="button" pButton icon="pi pi-close" (click)="displayFormCreate=false" label="No" class="ui-button-secondary"></button>
              </p-footer>
      </p-dialog>

      <p-dialog header="Edita Personal" [(visible)]="displayEditForm" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <p>{{diasTrabajadosOneSelected.NOMBRE}} </p>
        <form>
          <div class="form-group">

            <div class="ui-inputgroup">

                     
                <span class="ui-float-label">
               
               
                  <input id="rut" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.RUT" name="rut" disabled="true"> 
                    <label for="rut">RUT</label>
               
                  </span>
                </div>
                <div class="ui-inputgroup">
                  <span class="ui-float-label">
               
               
                      <input id="monto" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.SUELDO_MONTO" name="monto"> 
                        <label for="monto">Monto</label>
                   
                      </span>
                    </div>

                    <div class="ui-inputgroup">
                        <span class="ui-float-label">
                     
                     
                            <input id="descuento" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.DESCUENTO" name="descuento"> 
                              <label for="descuento">Descuentos</label>
                         
                            </span>
                          </div>
                                              
                    <div class="ui-inputgroup">

                        <span class="ui-float-label">
                         <!--   <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button> -->
                            <p-messages [(value)]="msgs"></p-messages>
                       
                          </span>
        
                    </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="saveDiasTrabajadosOtros()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayEditForm=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

 </ng-template>

 <p-dialog header="Parámetros Pago" [(visible)]="displayParametros" [modal]="modal" [responsive]="true" [width]="800" [minWidth]="600" [minY]="70" 
 [maximizable]="true" [baseZIndex]="10000">
 

<p>Parámetros para turnos Partime y variables de sueldo para cálculo del valor de turnos.</p>
  <app-parametros-pago></app-parametros-pago>

</p-dialog>