

<!-- <p>
  Lista de Personal!
  {{idPlantilla}}
</p>

<ul>
  <li *ngFor="let car of diasTrabajados">
    {{car.NOMBRE}}
  </li>
  
  </ul>
-->
<p-growl [(value)]="msgs"></p-growl>


<p-button label="Nuevo Proceso" (onClick)="displayNewProcess=true"></p-button>
<p>Proceso: {{optionRequestedMes? optionRequestedMes.name : 'ninguna'}}</p>
<p>Proceso: {{optionRequestedProceso? optionRequestedProceso.name : 'ninguna'}}</p>



<p-dialog header="Nuevo Proceso" [(visible)]="displayNewProcess" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="250" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

      
         
            <p-dropdown [options]="optionMeses" [(ngModel)]="optionSelectedMes" placeholder="Seleccione el Mes" optionLabel="name" [showClear]="true"></p-dropdown>
            <p-dropdown [options]="optionProcesos" [(ngModel)]="optionSelectedProceso" placeholder="Seleccione el Proceso" optionLabel="name" [showClear]="true"></p-dropdown>
            <div *ngIf="  optionSelectedMes&&optionSelectedProceso"> 
            <p-fileUpload mode="basic" name="demo[]" chooseLabel="Seleccione Archivo" (onUpload)="evento($event)"  (onError)="evento($event)" ></p-fileUpload>
          </div>
            <p-footer>
                <div *ngIf="loadigProcess"> 
                    <p-progressBar mode="indeterminate"></p-progressBar>
                </div>
            <button type="button" pButton icon="pi pi-check" (click)="newProcess()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayNewProcess=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>



<p-tabMenu [model]="items"></p-tabMenu>



<!--<div *ngIf="  idPlantilla=='1' ; then thenBlock else elseBlock"></div> -->
<div *ngIf="  idPlantilla=='1'  ; then thenBlock"> </div>
<div *ngIf="  idPlantilla=='2'  ; then elseBlock"> </div>
<div *ngIf="  idPlantilla=='3'  ; then nuevosBlock"> </div>
<p-button label="Elimina Lista" (onClick)="eliminaDiasTrab($event)"></p-button>

<button class="btn btn-primary" (click)="getCSV()"><i class="fa fa-file"></i> Descargar</button>
<ng-template #thenBlock>

    <h3 class="first">Seleccione zona a mostrar</h3>
    <p-dropdown [options]="zonas" [(ngModel)]="optionSelectedZona" placeholder="Seleccione una zona" optionLabel="name" [showClear]="true"></p-dropdown>
    <p>Zona seleccionada: {{optionSelectedZona? optionSelectedZona.name : 'ninguna'}}</p>

<p-dataTable [value]="getFiltered(optionSelectedZona? optionSelectedZona.name : undefined)">
  <p-header>
     Personal a Pagar
      <div class="ui-helper-clearfix">
       
          <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add" 
           style="float:right"></button>
      </div>

  </p-header>
  <p-column field="NOMBRE" header="NOMBRE"></p-column>
 <p-column field="RUT" header="RUT"></p-column>
 <p-column field="TIPO" header="TIPO"></p-column>
 <p-column field="CANTIDAD_HRS" header="CANT_HRS"></p-column>
 <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
 <p-column field="DESCUENTO" header="DESCUENTOS"></p-column>
 <p-column field="OTROS_DESCUENTOS" header="OTROS DESCUENTOS"></p-column>
 
 <p-column styleClass="col-button">
   <ng-template let-diaTrab="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-edit" (click)="selectedDiasTrabajados(diaTrab)"></button>
   </ng-template>
 </p-column>

 <p-column styleClass="col-button">
    <ng-template let-diaTrab="rowData" pTemplate="body">
       <button type="button" pButton icon="fa fa-trash" class="ui-button-danger"></button>
    </ng-template>
  </p-column>

</p-dataTable>

<p-dialog header="Personal Detail" [(visible)]="display" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

        <form>
          <div class="form-group">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="car-brand" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOne.NOMBRE" name="brand"> 
                    <label for="car-brand">Car Brand</label>
                </span>

            </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

</ng-template>


<ng-template #elseBlock>

    <p-dataTable [value]="diasTrabajadosNoExiste" >
        <p-header>
          Personal No Existente o No Vigente
            <div class="ui-helper-clearfix">
             
                <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add" 
                 style="float:right"></button>
            </div>
      
        </p-header>
        <p-column field="NOMBRE" header="NOMBRE"></p-column>
       <p-column field="RUT" header="RUT"></p-column>
       <p-column field="TIPO" header="TIPO"></p-column>
       <p-column field="CANTIDAD_HRS" header="CANT_HRS"></p-column>
       <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
       <p-column field="DESCUENTO" header="DESCUENTOS"></p-column>
       <p-column field="OTROS_DESCUENTOS" header="OTROS DESCUENTOS"></p-column>
       
     
      
      </p-dataTable>
      



 </ng-template>

 <ng-template #nuevosBlock>
    <p-dataTable [value]="diasTrabajadosOtros" [immutable]=false>
        <p-header>
          Personal Pagos Pendientes
            <div class="ui-helper-clearfix">
             
                <button type="button" pButton icon="fa fa-plus" iconPos="left" label="Add"  (click)="creaDiasTrabajados()"
                 style="float:right"></button>
            </div>
      
        </p-header>
        <p-column field="NOMBRE" header="NOMBRE"></p-column>
       <p-column field="RUT" header="RUT"></p-column>
       <p-column field="TIPO" header="TIPO"></p-column>
       <p-column field="CENCO2_DESC" header="INSTALACION"></p-column>
       <p-column field="SUELDO_MONTO" header="MONTO"></p-column>
       <p-column field="DESCUENTO" header="DESCUENTOS"></p-column> 
      
       <p-column styleClass="col-button">
          <ng-template let-diaTrab="rowData" pTemplate="body">
             <button type="button" pButton icon="fa fa-edit" (click)="editDiasTrabajadosOtros(diaTrab)"></button>
          </ng-template>
        </p-column>

       <p-column styleClass="col-button">
          <ng-template let-diaTrab="rowData" pTemplate="body">
             <button type="button" pButton icon="fa fa-trash" class="ui-button-danger"  (click)="deleteDiasTrabajadosOtros(diaTrab)"></button>
          </ng-template>
        </p-column>
       
    
      
      </p-dataTable>
      
 
      <p-dialog header="Añade Otros Pagos" [(visible)]="displayFormCreate" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
              [maximizable]="true" [baseZIndex]="10000">
      
              <form>
                <div class="form-group">
                    <div class="ui-inputgroup">

                     
                        <span class="ui-float-label">
                       
                       
                          <input id="rut" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.RUT" name="rut"> 
                            <label for="rut">Rut</label>
                       
                          </span>
                        </div>
                        <div class="ui-inputgroup">
                          <span class="ui-float-label">
                       
                       
                              <input id="monto" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.SUELDO_MONTO" name="monto"> 
                                <label for="monto">Monto</label>
                           
                              </span>
                            </div>

                            <div class="ui-inputgroup">
                                <span class="ui-float-label">
                             
                             
                                    <input id="descuento" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOtrosOne.DESCUENTO" name="descuento"> 
                                      <label for="descuento">Descuentos</label>
                                 
                                    </span>
                                  </div>
                    
                    <div class="ui-inputgroup">

                        <span class="ui-float-label">
                         <!--   <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button> -->
                            <p-messages [(value)]="msgs"></p-messages>
                       
                          </span>
        
                    </div>
      
                </div>
              </form>
              <p-footer>
                  <button type="button" pButton icon="pi pi-check" (click)="creaPersonalOtros(diasTrabajadosOtrosOne)" label="Yes"></button>
                  <button type="button" pButton icon="pi pi-close" (click)="displayFormCreate=false" label="No" class="ui-button-secondary"></button>
              </p-footer>
      </p-dialog>

      <p-dialog header="Edita Personal" [(visible)]="displayEditForm" [modal]="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">

        <form>
          <div class="form-group">

            <div class="ui-inputgroup">

                     
                <span class="ui-float-label">
               
               
                  <input id="rut" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.RUT" name="rut" disabled="true"> 
                    <label for="rut">RUT</label>
               
                  </span>
                </div>
                <div class="ui-inputgroup">
                  <span class="ui-float-label">
               
               
                      <input id="monto" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.SUELDO_MONTO" name="monto"> 
                        <label for="monto">Monto</label>
                   
                      </span>
                    </div>

                    <div class="ui-inputgroup">
                        <span class="ui-float-label">
                     
                     
                            <input id="descuento" type="text" size="30" pInputText [(ngModel)]="diasTrabajadosOneSelected.DESCUENTO" name="descuento"> 
                              <label for="descuento">Descuentos</label>
                         
                            </span>
                          </div>
                                              
                    <div class="ui-inputgroup">

                        <span class="ui-float-label">
                         <!--   <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button> -->
                            <p-messages [(value)]="msgs"></p-messages>
                       
                          </span>
        
                    </div>

          </div>
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="saveDiasTrabajadosOtros()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayEditForm=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

 </ng-template>