
<h3>Archivo Reliquidacion </h3>
<h3>{{optionRequestedMes? optionRequestedMes.name : ''}} </h3>

<p-dropdown [options]="fechasRemArchivo" [(ngModel)]="selectedFechaRemArchivo" placeholder="Seleccione Fecha" optionLabel="name" (onChange)="cambiaFechaRemunArchivo($event)"></p-dropdown>
<p>fecha Seleccionada: {{selectedFechaRemArchivo ? selectedFechaRemArchivo.code : 'ninguna'}}</p>
<button type="button" routerLink="/reliquidacionAll" pButton icon="fa fa-plus" iconPos="left" label="Ver Todos"></button>



<p-table   [value]="getExistentes()" [frozenColumns]="frozenCols"   [scrollable]="true" frozenWidth="300px" scrollHeight="200px" [style]="{'width':'100%','overflow':'auto!important'}" >
  <ng-template pTemplate="colgroup" >
    <colgroup>
        <col *ngFor="let col of cols" style="width:300px">
    </colgroup>
</ng-template> 
  
  <ng-template pTemplate="header" >
        <tr>
            <th *ngFor="let col of cols">
                
              {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData >
        <tr>
            <td *ngFor="let col of cols" [ngClass]="rowData['DIFF'] >0 ? 'old-car' : null" >
                    {{ col.field!='DIFF'? rowData[col.field]:rowData['DIFF']=rowData['LIQUIDO_PAGO']-rowData['LIQUIDO_ARCHIVO']}}
            </td>

        </tr>

         

    </ng-template>
</p-table>