
<h3>Archivo Reliquidacion </h3>
<p-dropdown [options]="fechasRemArchivo" [(ngModel)]="selectedFechaRemArchivo" placeholder="Seleccione Fecha" optionLabel="name" (onChange)="cambiaFechaRemunArchivo($event)"></p-dropdown>
<p>fecha Seleccionada: {{selectedFechaRemArchivo ? selectedFechaRemArchivo.code : 'ninguna'}}</p>

<button type="button" pButton icon="fa fa-plus" iconPos="left" label="ver Detalle" (click)="displayNewProcess=true"></button>

<p-table [columns]="cols"  [value]="reliquidacionDetalle" [frozenColumns]="frozenCols"   [scrollable]="true" frozenWidth="300px" scrollHeight="200px" [style]="{'width':'100%','overflow':'auto!important'}" >
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col *ngFor="let col of columns" style="width:300px">
    </colgroup>
</ng-template> 
  
  <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>

        </tr>

         

    </ng-template>
</p-table>